// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
    "extends": "google",
    "rules": {
        "indent": [
            1,
            4
        ],
        "camelcase": 0,
        "operator-linebreak": 0,
        "max-len": 0,
        "space-before-function-paren": 0,
        // DESDE AQUI LA IDEA ES QUE DESAPAREZCAN!
        "spaced-comment": 1,
        "quotes": 0,
        "require-jsdoc": 1,
        "no-inline-comments": 1,
        "no-unused-vars": 1,
        "eol-last": 1,
        "operator-assignment": 1,
        "no-else-return": 1,
        "no-negated-condition": 1,
        "consistent-return": 1,
        "curly": 1,
        "dot-notation": 1,
        "brace-style": 1,
        "linebreak-style": 1,
        "one-var": 1,
        "valid-jsdoc": 0,
        "padded-blocks": 1,
        "no-warning-comments": 1,
        "quote-props": 1,
        "block-scoped-var": 1,
        "no-extend-native": 1,
        "eqeqeq": 1,
        "semi": 1,
        "semi-spacing": 1,
        "space-after-keywords": 1,
        "wrap-iife": 1,
        "no-extra-semi": 1,
        "no-multiple-empty-lines": 1,
        "space-infix-ops": 1,
        "comma-spacing": 1,
        "space-before-blocks": 1,
        "space-before-keywords": 1,
        "default-case": 1,
        "no-unused-expressions": 1,
        "no-sequences": 1,
        "radix": 1,
        "no-undef": 1,
        "space-in-parens": 1,
        "space-unary-ops": 1,
        "no-multi-spaces": 1,
        "comma-style": 1,
        "object-curly-spacing": 1,
        "no-implicit-coercion": 1,
        "no-spaced-func": 1,
        "no-redeclare": 1,
        "guard-for-in": 1,
        "no-lonely-if": 1,
        "no-nested-ternary": 1,
        "no-debugger": 1,
        "no-eq-null": 1,
        "no-unneeded-ternary": 1,
        "new-cap": 1,
        "no-path-concat": 1,
        "no-mixed-requires": 1
    },
    "globals": {
        "angular": true,
        "loadGoogleMaps": true,
        "gulp": true,
        "$": true,
        "jQuery": true,
        "moment": true,
        "document": true,
        "window": true,
        "navigator": true,
        "sessionStorage": true,
        "FileReader": true,
        "Image": true,
        "screenfull": true,
        "google": true,
        "String": true,
        "cleaner": true,
        "describe": true,
        "beforeEach": true,
        "it": true,
        "expect": true,
        "assert": true,
        "_": true,
        "self": true
    }
}
